main {
    background-color: white;
    position: relative;
    transition: transform cubic-bezier(0.22, 0.61, 0.36, 1) .3s;
    z-index: 1;

    body.menu-open & {
        transform: translateX(-90%);

    }

}
